@media screen and (min-width:1000px)  and (max-width:1400px){
 
  .setcard
  {
      float: left;
       margin: 13px; 
       border: 2px solid black;  
  }
  .card-body
  {
      background-color:orange;
  
  }
  
  .footer
  {
      background-color: orange;
      height: 60px;
      clear: both;
      border-top: 2px solid black;
      width: 100%;
  }
  body
  {
      background-color:whitesmoke;
      border:2px solid black;
  }
  .intro
  {
   
   padding-top: 8px;
    font-size: 16px;
      text-transform: capitalize;
      text-align: justify;
      
  }
  
.copychange
{
  padding-top: 20px;
}

.footer1
{
  display:none;
}
.bhajhan-list-mobile
{
  display: none;
}
.hrwidth
{
  width: 50%;
}

.menu2
{
  display: none;
}

}


@media screen and (min-width:411px)  and (max-width:999px){

  .footer1
  {
      background-color: orange;
      height: 50px;
      clear: both;
      border: 2px solid black;
      width: 100%;
      overflow: hidden;
  }
 .set-contact-text
 {
  font-size:12px;
 }
.footer
{
  display: none;
}
.copychange
{
  font-size: 11px;
  padding-top:15px;
}
.intro
{
   font-size: 12px;
   text-transform: capitalize;
   text-align: justify;
   /* font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: italic; */
  }
.bhajhan-list-desktop
{
  display: none;
}
.bhajan-list
{
  font-size: 14px;
}

.bhajan-button
{
  height:30px;
  font-size: 8px;
}
.setcard
  {
    
       margin-top: 5px; 
    }
  
.hrwidth
{
  width: 70%;
}

.menu2
{
  display: none;
}
  
}


@media screen and (min-width:200px)  and (max-width:410px){

  .footer
{
  display: none;
}

.footer1
  {
      background-color: orange;
      height: 50px;
      clear: both;
      border: 2px solid black;
      width: 100%;
      overflow: hidden;
  }

  .set-contact-text
 {
  font-size:11px;
 }

 .copychange
{
  font-size:7px;
  padding-top:15px;
}

.bhajhan-list-desktop
{
  display: none;
}

.intro
{
   font-size: 12px;
   text-transform: capitalize;
   text-align: justify;
   /* font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: italic; */
  }

  .bhajan-list
{
  font-size: 10px;
}

.smallsizebutton
{
  height: 30px;
  font-size: 3px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.menu1
{
  display: none;
}

}